body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aaaaaa;
}
/* Bakgrunnsfarge og font */

main{
  width: 75%;
  margin: auto;
  background-color: white;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #f1f3f5;
    text-align: center;
    padding: 4px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
/*footerens plassering og stil */

button {
    background-color: #abc1c4; /* Green */
    border: 1px solid #000;
    color: #000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.boks{
  width: 50px;
  height: 50px;
}
/*knappenene sin stil, og størrelser */
img {
    display:flex;
    justify-self: flex-end; 
    width: 60%;
    height: 100%;
}
/*bildet sin plassering og størrelse. får bildet til å være på høyre side */